
.headerOptionIcons:hover{
     color: black;
     cursor: pointer;
     border-bottom: 1px solid black;
}

.headerOptionIcons{
     object-fit: contain;
}

.headerOptionIcons > p {
     margin-top: 5px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headerOption_Avatar{
     width: 25px !important;
     height: 25px !important;
}


/* Make responsivenes in header Section */


@media  (max-width:768px) {
     .headerOptionIcons > p {
          font-size: 12px;
     }

     .headerOptionIcons > span {
          width: 25px;
          height: 25px;
     }
}