

.login-page{
    border: 1px solid rgb(235, 235, 235);
    border-radius: 8px;
    width: 360px;
    margin: 50px  auto;
    height: fit-content;
    padding-top: 45px;
    box-shadow: 1px 1px 9px 0px rgba(211, 211, 211, 0.849);
    padding-bottom: 45px;
}

.login-page p{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 15px;
}
.login-page h2{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 15px;
}

.login-inputPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.login-inputPage input{
    outline: rgb(5, 106, 168);
    width: 260px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 15px 10px;
    margin: 25px 0px 20px 35px
}

input:hover{
    border: 2px solid rgb(5, 106, 168) ;
}



input::placeholder{
    font-size: 18px;
}
.signBtn{
  border-radius: 50px;
  border: 1px solid rgb(5, 106, 168);
  color: rgb(247, 247, 247);
  background-color: rgb(5, 106, 168);
  margin: 10px auto;
  padding: 10px 30px 10px 30px;
  font-size: 18px;
}

.signBtn:hover{
    cursor: pointer;
    background-color: rgb(2, 74, 119);
    border: 1px solid rgb(2, 74, 119);
}

.newUserJoinBtn{
    border-radius: 50px;
  border: 1px solid rgb(5, 106, 168);
  color: rgb(247, 247, 247);
  background-color: rgb(5, 106, 168);
  margin: 10px auto;
  padding: 10px 30px 10px 30px;
  font-size: 18px;
}

.linkedin-btn{
    display: flex;
}

.gray{
    background-color: grey;
    color: white;
    border: none;
}